<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springboot.helloworld.mapper.flight_testMapper">
  <resultMap id="BaseResultMap" type="com.demo.springboot.helloworld.common.domain.flight_test">
    <id column="ind" jdbcType="INTEGER" property="ind" />
    <result column="date_day" jdbcType="VARCHAR" property="dateDay" />
    <result column="depart_city" jdbcType="VARCHAR" property="departCity" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="flight" jdbcType="VARCHAR" property="flight" />
    <result column="depart_time" jdbcType="VARCHAR" property="departTime" />
    <result column="depart_airport" jdbcType="VARCHAR" property="departAirport" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="arrival_time" jdbcType="VARCHAR" property="arrivalTime" />
    <result column="arrival_airport" jdbcType="VARCHAR" property="arrivalAirport" />
    <result column="price" jdbcType="VARCHAR" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ind, date_day, depart_city, destination, flight, depart_time, depart_airport, duration, 
    arrival_time, arrival_airport, price
  </sql>
  <select id="selectByExample" parameterType="com.demo.springboot.helloworld.common.domain.flight_testExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from flight_test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from flight_test
    where ind = #{ind,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from flight_test
    where ind = #{ind,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.springboot.helloworld.common.domain.flight_testExample">
    delete from flight_test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.springboot.helloworld.common.domain.flight_test">
    insert into flight_test (ind, date_day, depart_city, 
      destination, flight, depart_time, 
      depart_airport, duration, arrival_time, 
      arrival_airport, price)
    values (#{ind,jdbcType=INTEGER}, #{dateDay,jdbcType=VARCHAR}, #{departCity,jdbcType=VARCHAR}, 
      #{destination,jdbcType=VARCHAR}, #{flight,jdbcType=VARCHAR}, #{departTime,jdbcType=VARCHAR}, 
      #{departAirport,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, #{arrivalTime,jdbcType=VARCHAR}, 
      #{arrivalAirport,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.springboot.helloworld.common.domain.flight_test">
    insert into flight_test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ind != null">
        ind,
      </if>
      <if test="dateDay != null">
        date_day,
      </if>
      <if test="departCity != null">
        depart_city,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="flight != null">
        flight,
      </if>
      <if test="departTime != null">
        depart_time,
      </if>
      <if test="departAirport != null">
        depart_airport,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="arrivalTime != null">
        arrival_time,
      </if>
      <if test="arrivalAirport != null">
        arrival_airport,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ind != null">
        #{ind,jdbcType=INTEGER},
      </if>
      <if test="dateDay != null">
        #{dateDay,jdbcType=VARCHAR},
      </if>
      <if test="departCity != null">
        #{departCity,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="flight != null">
        #{flight,jdbcType=VARCHAR},
      </if>
      <if test="departTime != null">
        #{departTime,jdbcType=VARCHAR},
      </if>
      <if test="departAirport != null">
        #{departAirport,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="arrivalTime != null">
        #{arrivalTime,jdbcType=VARCHAR},
      </if>
      <if test="arrivalAirport != null">
        #{arrivalAirport,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.springboot.helloworld.common.domain.flight_testExample" resultType="java.lang.Long">
    select count(*) from flight_test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update flight_test
    <set>
      <if test="record.ind != null">
        ind = #{record.ind,jdbcType=INTEGER},
      </if>
      <if test="record.dateDay != null">
        date_day = #{record.dateDay,jdbcType=VARCHAR},
      </if>
      <if test="record.departCity != null">
        depart_city = #{record.departCity,jdbcType=VARCHAR},
      </if>
      <if test="record.destination != null">
        destination = #{record.destination,jdbcType=VARCHAR},
      </if>
      <if test="record.flight != null">
        flight = #{record.flight,jdbcType=VARCHAR},
      </if>
      <if test="record.departTime != null">
        depart_time = #{record.departTime,jdbcType=VARCHAR},
      </if>
      <if test="record.departAirport != null">
        depart_airport = #{record.departAirport,jdbcType=VARCHAR},
      </if>
      <if test="record.duration != null">
        duration = #{record.duration,jdbcType=VARCHAR},
      </if>
      <if test="record.arrivalTime != null">
        arrival_time = #{record.arrivalTime,jdbcType=VARCHAR},
      </if>
      <if test="record.arrivalAirport != null">
        arrival_airport = #{record.arrivalAirport,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update flight_test
    set ind = #{record.ind,jdbcType=INTEGER},
      date_day = #{record.dateDay,jdbcType=VARCHAR},
      depart_city = #{record.departCity,jdbcType=VARCHAR},
      destination = #{record.destination,jdbcType=VARCHAR},
      flight = #{record.flight,jdbcType=VARCHAR},
      depart_time = #{record.departTime,jdbcType=VARCHAR},
      depart_airport = #{record.departAirport,jdbcType=VARCHAR},
      duration = #{record.duration,jdbcType=VARCHAR},
      arrival_time = #{record.arrivalTime,jdbcType=VARCHAR},
      arrival_airport = #{record.arrivalAirport,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.springboot.helloworld.common.domain.flight_test">
    update flight_test
    <set>
      <if test="dateDay != null">
        date_day = #{dateDay,jdbcType=VARCHAR},
      </if>
      <if test="departCity != null">
        depart_city = #{departCity,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="flight != null">
        flight = #{flight,jdbcType=VARCHAR},
      </if>
      <if test="departTime != null">
        depart_time = #{departTime,jdbcType=VARCHAR},
      </if>
      <if test="departAirport != null">
        depart_airport = #{departAirport,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="arrivalTime != null">
        arrival_time = #{arrivalTime,jdbcType=VARCHAR},
      </if>
      <if test="arrivalAirport != null">
        arrival_airport = #{arrivalAirport,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
    </set>
    where ind = #{ind,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.springboot.helloworld.common.domain.flight_test">
    update flight_test
    set date_day = #{dateDay,jdbcType=VARCHAR},
      depart_city = #{departCity,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      flight = #{flight,jdbcType=VARCHAR},
      depart_time = #{departTime,jdbcType=VARCHAR},
      depart_airport = #{departAirport,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      arrival_time = #{arrivalTime,jdbcType=VARCHAR},
      arrival_airport = #{arrivalAirport,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR}
    where ind = #{ind,jdbcType=INTEGER}
  </update>
</mapper>